<div class="row transparent full" style="overflow: hidden; padding-left: 0px; ">
  <div class="centerPage">

    <div style="overflow: hidden; height:25vh; width: 832px;">
      <img  src="<%= asset_path('newBlog.jpg') %>" style="width: 832px; "></img>
    </div>
    <h1 class="center" style="margin-top: -20vh; position: relative;">EDIT BLOG/NEWS</h1>


    <%= render 'form' %>



  </div>
</div>
