<a href='http://www.uark.edu/' ><img class='img' src="<%= asset_path 'uarkLogo.gif' %>"></a>

<!--<h1>
   Tesseract - Game Design and Immersive Environments
</h1> -->

<a class="hidden-xs" href='http://fulbright.uark.edu/' ><img class='img' src="<%= asset_path 'fullbrightLogo.gif' %>" style="float: right"></a>
