<div class="row transparent full" style="overflow: hidden; padding-left: 0px; ">
  <div class="centerPage"  style="background: #f0f0f0; overflow: hidden;">

    <div style="overflow: hidden; height:25vh; width: 832px;">
      <img  src="/assets/demo2.jpg" style="width: 832px"></img>
    </div>
    <h1 class="center" style="margin-top: -20vh; position: relative;">PRESS KIT</h1>
    <h2>We would Love to hear from you!</h2>


    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
      <div class="row">
        <label for="name">Your name:</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
      </div>
      <div class="row">
        <label for="email">Your email:</label><br />
        <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
      </div>
      <div class="row">
        <label for="message">Your message:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
      </div>
      <input id="submit_button" type="submit" value="Send email" />
    </form>

  </div>

</div>
