<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A message from <%= @email.name %></h1>
<p>
  <%= @email.content %>
</p>

<h2> <%= @email.email %></h2>
</body>
</html>