//Import Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
//Variables
//Colors
$light-color: #FAFAFA;
$dark-color: #232323;
$dark-trans-color: rgba(35,35,35,0.6);
$blue-color: #69D2E7;
$lightBlue-color: #A7DBD8;
$orange-color: #FA6900;
$lightOrange-color: #F38630;
//Fonts
$main-font: 'Source Sans Pro',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
//Other
$sideBar-size: 192px;
//Font for different screen sizes
html {
    font-family: $main-font;
    font-weight: 300;
    line-height: 1.4;
    font-size: 13px;
}
@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
	p{
		font-size: 16px;
	}
}
@media screen and (min-width: 570px) {
    html {
        font-size: 15px;
    }
}
@media screen and (min-width: 620px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 680px) {
    html {
        font-size: 17px;
    }
}
@media screen and (min-width: 720px) {
    html {
        font-size: 18px;
    }
}
@media screen and (min-width: 800px) {
    html {
        font-size: 19px;
    }
}
@media screen and (min-width: 860px) {
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 920px) {
    html {
        font-size: 21px;
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}
section {
    padding: 2rem 10%;
}

h1,h2,h3,h4,p {
    font-family: $main-font;
}
h1,h2,h3,h4 {
    line-height: 1.3;
    font-weight: 100;
}
h1 {
    font-size: 2rem;
    margin: 0 0 .5rem;
}
h2 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem;
}
h3 {
    font-size: 1.25rem;
    margin: 1rem 0 1rem;
}
h4 {
    font-size: 1.1rem;
    margin: .5rem 0 .5rem;
}
p {
    font-size: .8rem;
	line-height: 1.5rem;
    margin: 1rem 0 2rem;
}
hr {
    border-top: 1px solid #e5e5e5;
}
//MAIN CONTAINERS
.mainYield {
    @media(max-width: 767px) {
        width: 100%;
    }
    @media(min-width:768px) {
        width: calc(100% - 192px);
    }
    @media(min-width:992px) {
        width: calc(100% - 192px);
    }
    @media(min-width:1200px) {
        width: calc(100% - 192px);
    }
    background-image: image-url("backgroundTile.jpg");
	background-color: $light-color;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
//Custom Size Classes
.full {
    min-height: calc(100vh - 60px);
}
.half {
    max-height: calc(50vh - 30px);
}
.third {
    max-height: calc(33vh - 20px);
}
.testFeatured {
	min-height: 300px;
	height: calc(33vh - 20px);
	
}

.centerPage {
    min-height: calc(100vh - 60px);
    max-width: 832px;
    margin: 0 auto;
    background: $light-color;
    overflow: hidden;
    border-left: solid 10px #000;
    border-right: solid 10px #000;
}
//GRIDS
.userGridParent {
	

    /* Small Devices, Tablets */
    @media only screen and (min-width : 0px) {
		float:left;
		position: relative;
		width: 100%;
		padding-bottom : 140%; /* = width for a 1:1 aspect ratio */
		
		overflow:hidden;
    }
	
	 @media only screen and (min-width : 600px) {
		float:left;
		position: relative;
		width: 48.5%;
		padding-bottom : 82%; /* = width for a 1:1 aspect ratio */
		
		overflow:hidden;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 900px) {
		float:left;
		position: relative;
		width:31.83%;
		padding-bottom : 60%; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }
	

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1366px) {
		float:left;
		position: relative;
		width: 18.5%;
		padding-bottom :430px; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }
	  @media only screen and (min-width : 1600px) {
		float:left;
		position: relative;
		width: 15.66%;
		padding-bottom : 450px; /* = width for a 1:1 aspect ratio */
		//height: auto;
		margin:.75%;
		overflow:hidden;
    }
	@media only screen and (min-width : 2000px) {
		float:left;
		position: relative;
		width: 11%;
		padding-bottom : 475px; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }
	 
} 

.gridParent {
	

    /* Small Devices, Tablets */
    @media only screen and (min-width : 0px) {
		float:left;
		position: relative;
		width: 48.5%;
		padding-bottom : 51.5%; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		float:left;
		position: relative;
		width: 31.83%;
		padding-bottom : 34.83%; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1366px) {
		float:left;
		position: relative;
		width: 23.5%;
		padding-bottom : 26.5%; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }
	  @media only screen and (min-width : 1600px) {
		float:left;
		position: relative;
		width: 18.5%;
		padding-bottom : 21.5%; /* = width for a 1:1 aspect ratio */
		margin:.75%;
		overflow:hidden;
    }
	 /* Large Devices, Wide Screens */
    @media only screen and (min-width : 2000px) {
		float:left;
		position: relative;
		width: 15.66%;
		padding-bottom : 18.66%; /* = width for a 1:1 aspect ratio */
		margin:.50%;
		overflow:hidden;
    }
	 
	

} 



.gridContent {
    position:absolute;
    width:100%; /* = 100% - 2*5% padding */
	height:100%;
	
	img {
	 width: 100%
	}
}
//Custom Color Classes
.whiteBack {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background: #FAFAFA;
    color: #000;
}
.blackBack {
    margin-right: 20px;

    margin-top: 10px;
    margin-bottom: 10px;

    background: transparent;
    color: $light-color;
    border-bottom: 1px solid;
    border-color: white;
}
.transparent {
    color: $dark-color;
    padding-left: 20px;
	
	p, h3{
		color: rgb(150,150,150);
	}
	h4,  h2, h1{
		color: $light-color;
	}
}
.greyTransparent {
 background-color: RGBA(150,150,150,0.1);
}
.diagonal {
	 background-image: image-url("diagonal.png");
	
}
.redDiagonal {
	 background-image: image-url("diagonal.png");
	 background-size: 10% 10%;
	 background-color: RGBA(255,20,20,0.1);
}

.light {
    background: $light-color;
    color: $dark-color;
    padding-left: 20px;
}

a.headerLinks {
    color: $light-color;
	padding-left: 10px;
	padding-right: 10px;
}
a.headerLinks:hover {
    color: $dark-color;
    text-decoration: none;
	background: white;
}
a.headerLinks:active {
    text-decoration: none;
}
a.headerLinks:focus {
    text-decoration: none;
}

.projectLinks {
	p{
		color: rgb(150,150,150);
	}
	h4{
		color: $light-color;
	}
	
}
.projectLinks:hover {
	text-decoration: none;
	img{
		opacity: 0.3 !important;
		transition: opacity .25s ease-in-out;
   		-moz-transition: opacity .25s ease-in-out;
   		-webkit-transition: opacity .25s ease-in-out;
	}
}
.projectLinks:active {
	text-decoration: none;
}
.projectLinks:focus {
	text-decoration: none;
}

.blogContent {
	img{
		margin: auto !important;
		width: auto !important;
		max-width: 100% !important;
		max-height: 300px !important;
		
		display: block;
		padding-bottom: 20px;
		padding-top: 20px;

	}
	p {
		font-family: $main-font !important;
		font-weight: 300 !important;
		font-size: 16px !important;
	
		margin: 1rem 0 2rem !important;
	}
}

.loading {
    background-image: image-url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1e1e1e;
    width: auto !important;
}
.floatCenter {
    float: none;
    margin: 0 auto;
}
.center {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3);
    float: left;
    background: $light-color;
    color: $dark-color;
}
.news {
    color: $dark-color;
}
.news:hover {
    color: $light-color;
    text-decoration: none;
}
//CUSTOM IMAGE CLASSES
.halfImg {
    height: 100% !important;
}
.fullImg {
    height: 100%;
}
.round-image-50 {
    padding: 0;
    background-color: white;
    border: 5px solid $light-color;
    border-radius: 90px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    height: 180px;
    width: 180px;
    overflow: hidden;
    text-align: center;
    img {
        height: 100%;
    }
}
.round-image-res {
    position: relative;
    background-color: $dark-color;
    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
   	height: auto;
    width: 100%;
	
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    img {
       width: 100%;
    }
}
.round-image-inner {
    width: auto !important;
    height: auto;
    -webkit-transform-style: flat !important;
    /* Chrome, Safari, Opera */
    
    transform-style: flat !important;
}
//OWL NAVIGATION
#showCase .owl-nav {
    .owl-prev {
        top: 20px;
        left: 20px;
        position: absolute;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        background: #000;
        color: $light-color;
    }
    .owl-next {
        top: 20px;
        right: 40px;
        position: absolute;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        background: #000;
        color: $light-color;
    }
}
//NAVIGATION BAR
.navbar {
    margin-bottom: 0;
}
.sideBar {
    float: left;
    width: $sideBar-size;
    background-color: $light-color;
    font-family: $main-font;
    font-weight: 300;
    font-size: 20px;
    .links.stickit {
        position: fixed;
        top: 0;
    }
    .links.stickit-end {
        bottom: 0;
        position: absolute;
    }
    a.navLinks {
        padding-left: 30px;
        color: #232323;
    }
    a.navLinks:hover {
        color: $blue-color;
        padding-left: 24px;
        text-decoration: none;
    }
    a.navLinks:active {
        padding-left: 24px;
        text-decoration: none;
    }
    a.navLinks:focus {
        text-decoration: none;
    }
    a.socialLinks {
        color: #232323;
    }
    a.socialLinks:hover {
        color: $blue-color;
    }
}